#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are

1-python
2-r language
3-java script

Some of the commonly used libraries used by Data Scientists include:

1-numpay
2-pandas
3-matlabpoint

Data Science Tools

jypyter notebbok

r studio

Apache Zeppelin

Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
print(5+5)

10

In [6]:
print(10+5)

15

In [7]:
print(5*5)

25

In [8]:
print(10/2)

5.0

In [11]:
print((3*4)+5) #This a simple arithmetic expression to mutiply then add integers

17

In [13]:
print(200/60)#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives**

-Create a code cell to convert minutes to hours
-Below are a few examples of evaluating arithmetic expressions in Python
-Some of the commonly used libraries used by Data Scientists include
-Some of the popular languages that Data Scientists use are
-Data Science Tools

##Author
Muhammad Asghar